<html>
    <head>
      {% if title %}
      <title>{{ title }} - HD-eXplosion</title>
      {% else %}
      <title>Welcome to HD-eXplosion</title>
      {% endif %}
    </head>
    <body>
       <!-- <div>


            <a href="{3{ url_for('ui') }}"><h6>Start Over</h6></a>
            <a href="{3{ url_for('error') }}">Error Report</a>
            <a href="{3{ url_for('index') }}">Home</a>
            <a href="{3{ url_for('login') }}">Login</a>
            <a href="{3{ url_for('plotshow') }}">Plot</a>

        </div>
        <hr>
        -->
        {% block content %}{% endblock %}
    </body>
</html>