<html>
    <head>
      {% if title %}
      <title>{{ title }} - HD-eXplosion</title>
      {% else %}
      <title>Welcome to HD-eXplosion</title>
      {% endif %}
    </head>
    <body>
        <div>
            HD-eXplosion:

            <a href="{{ url_for('ui') }}">Main Page</a>
            <!--<a href="{3{ url_for('error') }}">Error Report</a>
            <a href="{3{ url_for('index') }}">Home</a>
            <a href="{3{ url_for('login') }}">Login</a>
            <a href="{3{ url_for('plotshow') }}">Plot</a> -->
        </div>
        <hr>

        {% block content %}{% endblock %}
    </body>
</html>